<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><select id="voiceselection" style="color: black;"></select></a></li>
        <li><a href="#logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<p id="notice"><%= notice %></p>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-folder-open logo"></span>
    </div>
    <div class="col-sm-8">
      <h2><strong>Title: </strong> <%= @note.title %></h2>
      <br>
      <h4><strong>CONTENT: </strong> <%= @note.content %></h4>
      <% if @note.snotes.any? %>
      <% x = 1 %>
      <% @note.snotes.each do |snote|%>
        <button type="button" class="col-md-8 col-sm-8 btn btn-block" style="white-space: normal;" data-toggle="collapse" data-target="#demo<%= x %>"> <%= snote.title %>
        </button>
        <div id="demo<%= x %>" class="col-md-12 col-sm-12 collapse">
        <p><%= snote.answer %></p>
        <input class="btn"
          onclick="responsiveVoice.speak($(this).prev().html(), $('#voiceselection').val());"
          type="button"
          value="Play"/>
        <input class="btn"
          onclick="responsiveVoice.pause();"
          type="button"
          value="Pause"/>
        <input class="btn"
          onclick="responsiveVoice.resume();"
          type="button"
          value="Resume"/>
        <input class="btn"
          onclick="responsiveVoice.cancel();"
          type="button"
          value="Stop"/>
          <button type="button" class="col-md-8 col-sm-8 btn pull-left" style="display: inline-block;" data-toggle="collapse" data-target="#demos<%= x %>"> Reminder </button>
          <div id="demos<%= x %>" class="col-md-8 col-sm-8 collapse pull-left">
          <p><%= snote.pnote %></p>
          </div>
        </div>
        <% x += 1 %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<% @snote = Snote.new %>
<%= render 'snotes/form', snote: @snote %>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>

<footer id="logout" class="container-fluid text-center">
  <%= link_to "", sign_out_path, class: 'glyphicon glyphicon-log-out',method: :delete %>
  <p>Log Out. Go get some rest.</p>
</footer>

<script src="https://code.responsivevoice.org/responsivevoice.js"></script>
<script>
  //Populate voice selection dropdown
    var voicelist = responsiveVoice.getVoices();
    var vselect = $("#voiceselection");
    $.each(voicelist, function() {
    vselect.append($("<option />").val(this.name).text(this.name));
  });

    $(document).ready(function(){
      $("button").click(function(){
          x = $(this).children('span').html();
          x = parseInt(x) + 1;
          $(this).children('span').html(x);
      });
    });

    
</script>
