<%= form_for [@note, snote] do |f| %>
  <% if snote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snote.errors.count, "error") %> prohibited this snote from being saved:</h2>

      <ul>
      <% snote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :answer %>
    <%= f.text_area :answer, id: "comment" %>
  </div>

  <div class="field">
    <%= f.label :pnote %>
    <%= f.text_area :pnote %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
