<p id="notice"><%= notice %></p>

<h1>Snotes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Answer</th>
      <th>Pnote</th>
      <th>Freq</th>
      <th>User</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snotes.each do |snote| %>
      <tr>
        <td><%= snote.title %></td>
        <td><%= snote.answer %></td>
        <td><%= snote.pnote %></td>
        <td><%= snote.freq %></td>
        <td><%= snote.user %></td>
        <td><%= snote.note %></td>
        <td><%= link_to 'Show', snote %></td>
        <td><%= link_to 'Edit', edit_snote_path(snote) %></td>
        <td><%= link_to 'Destroy', snote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snote', new_snote_path %>
