<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">MrDr</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
      <% if signed_in? %>
        <li><a href="#notes">NOTES</a></li>
        <li><a href="#signout">SIGN OUT</a></li>
      <% else %>
        <li><a href="#signin">SIGN IN</a></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>

<% if signed_in? %>
  <div id="notes" class="container-fluid">
    <div class="text-center">
      <h2>Notes</h2>
      <h4>Listen UP!!</h4>
    </div>
    <div class="row slideanim">
      <% @notes.each do |note| %>
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1><%= note.title %></h1>
          </div>
          <div class="panel-body">
            <p><%= note.content %></p>
          </div>
          <div class="panel-footer">
            <h4><%= time_ago_in_words(note.lastseen) %></h4>
            <%= link_to 'Show', note, class: "btn btn-lg"%>
          </div>
        </div>      
      </div>
      <% end %>
    </div>
  </div>

  <%= link_to 'New Note', new_note_path %>

  <footer id="signout" class="container-fluid text-center">
    <%= link_to "", sign_out_path, class: 'glyphicon glyphicon-log-out',method: :delete %>
    <p><%= current_user.email %> <br>
    Log Out. Go get some rest.</p>
  </footer>
<% else %>

<!-- Container (Contact Section) -->
<div id="signin" class="container-fluid bg-grey">
  <h2 class="text-center">SIGN IN</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
      <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
      <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div id="clearance" class="sign-in">
            <h2><%= t(".title") %></h2>

            <%= render partial: '/sessions/form' %>

          </div>
      </div>
      
      <textarea class="form-control" id="comments" name="comments" placeholder="Play me out loud!!" rows="5"></textarea>
      <select id="voiceselection"></select>
      <br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <input class="btn btn-default pull-right" onclick="responsiveVoice.speak($('#comments').val(), $('#voiceselection').val());"
          type="button" value= "Play" />
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<script src="https://code.responsivevoice.org/responsivevoice.js"></script>
<script>

$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });

  //Populate voice selection dropdown
        var voicelist = responsiveVoice.getVoices();
        var vselect = $("#voiceselection");
        $.each(voicelist, function() {
                vselect.append($("<option />").val(this.name).text(this.name));
        });
})
</script>
